body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin: 0;
  display: flex;
  overflow: hidden;
  flex: 1;
  background-color: yellow;
  flex-direction: column;
}

.header {
  background-color: green;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
  display: flex;
}

ul a {
  color: white;
  text-decoration: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
}

.hero {
  background-color: blue;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  flex: 1;
  background-color: cadetblue;
  justify-content: center;
  align-items: center;
}

.feature-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.testimonials {
  background-color: lightblue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.call-to-action {
  background-color: darkorange;
  color: white;
  padding: 20px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 20px auto;
}

img {
  width: 200px;
  height: auto;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #45a049;
}
