body {
  font-family: Roboto, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #1f2937;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
  display: flex;
}

ul a {
  color: white;
  text-decoration: none;
}

.content {
  margin: 0;
  display: flex;
  overflow: hidden;
  flex: 1;
  background-color: #ffffff;
  flex-direction: column;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  background-color: #1f2937;
  color: #f4f4f4;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
}

.hero p {
  font-size: 18px;
  color: #e5e7eb;
}

.hero {
  background-color: #1f2937;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  flex: 1;
  background-color: cadetblue;
  justify-content: center;
  align-items: center;
}

.feature-list {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.testimonials {
  background-color: lightblue;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.call-to-action {
  background-color: #1f2937;
  color: white;
  padding: 20px;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 20px auto;
}

img {
  width: 200px;
  height: auto;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  background-color: #45a049;
}

.call-to-button {
  border: 5px;
  border-color: white;
}
